@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&family=Dancing+Script:wght@400..700&family=Edu+AU+VIC+WA+NT+Pre&family=Inter:opsz,wght@14..32,500&family=Lato&family=League+Gothic&family=Outfit&family=Play&family=Poppins&family=Roboto+Condensed&family=Ubuntu&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&family=Dancing+Script:wght@400..700&family=Edu+AU+VIC+WA+NT+Pre&family=Inter:opsz,wght@14..32,500&family=Lato&family=League+Gothic&family=League+Spartan:wght@100..900&family=Outfit&family=Play&family=Poppins&family=Roboto+Condensed&family=Ubuntu&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&family=Dancing+Script:wght@400..700&family=Edu+AU+VIC+WA+NT+Pre&family=Inter:opsz,wght@14..32,500&family=Lato&family=League+Gothic&family=League+Spartan:wght@100..900&family=Outfit&family=Play&family=Poppins&family=Roboto+Condensed&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
body {
  scroll-behavior: smooth;
}
/* @keyframes appear {
  from {
    opacity: 0.5;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.secod-cont {
  animation: appear linear;
  animation-timeline: view();
  animation-range: normal;
} */
